<% if @images.any? %>
	<% @images.each do |image| %>
      <div class="grid-item col-xs-4">
      	<div class = "image">
			<%= image_tag(image.link) %>
		</div>
		<div class = "feature">
			<p id = "inspired-count-<%= image.id%>">Inspired <%= pluralize(image.inspired_count, "person") %></p>
			<%= link_to 'Upvote', inspired_image_path(image), remote: true, method: :put %>
			<%= link_to "Downvote", uninspired_image_path(image), remote: true, method: :put %>	
		</div>
      </div>
    <% end %>
<% else %>
	<h1>Hello</h1>
<% end %>