<div class = "grid-sizer col-xs-4"></div>
<% if @images.any? %>
	<% @images.each do |image| %>
      <div class="grid-item col-xs-4">
      	<div class = "image">
					<%= link_to image_tag(image.link), image %>
				</div>
				<div class = "feature">
					<p id = "inspired-count-<%= image.id%>">Inspired <%= pluralize(image.inspired_count, "person") %></p>		
					<% if session["#{image.id}"] %>
						<div id = "inspire-form-<%= image.id%>">
						<%= render 'uninspired', image: image %>
						</div>
					<% else %>
						<div id = "inspire-form-<%= image.id%>">
						<%= render 'inspired', image: image %>
						</div>
					<% end %>
				</div>
      </div>
  <% end %>
<% else %>
	<h1>Hello</h1>
<% end %>